body{
        margin: 0px 100px 100px 100px;
        background-color: rgba(27, 26, 26, 0.26);
}

a{
        text-decoration: none;
}

.logo{
        border-radius: 50%;
        background-color: white;
        text-align: left;
}

footer{
        text-align: left;
        background-color: white;
        border-radius: 15px;
}

#header{
        text-align: left;
        background-color: white;
        border-radius: 15px;
}
#div2{
        text-align: right;
}



*{
        border: 2px solid red;
}

/*the above is used to view all the borders in the page*/